.resource-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 3vh;
    height: 50vh;
    /* background-color: blue; */
    
  }

  .resource-list {
      text-align: center;
      height: 30vh;
      /* background-color: grey; */
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    contain: content;
   
}

.list-item {
    list-style: none;
}
